*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;1,100;1,200;1,300;1,600&display=swap');

html{
    scroll-behavior: smooth;
}

.header{
    background: rgb(230, 230, 230);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    position: relative;
    background-image:url('images/BG.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat; 

}


.header-text{
    padding:50px;
    /* background-color:rgb(51, 41, 41); */
}

.header-text .text{
    width:300px;
    
}
#python{
    color:#700323;
}

.header-text .text h1, p{
    margin-bottom: 20px;
}

.header-text .text h1{
    font-weight: bolder;
}

.header-text .text .contact_link{
    display: inline-block;
    padding: 10px 20px;
    letter-spacing: 3px;
    background:#700323;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    transition: all 300ms ease-in;
}
.header-text .text a:hover{
    box-shadow: 1px 10px 20px #70032485;
    border:solid 2px #fff;
}

.header-text .text .social-media{
    margin-bottom: 10px;
}

.header-text .text .social-media a{
    color: #700323
}

.recent-projects{
    background-color: #700323;
    height: 80vh;
    padding: 50px;
    color: #fff;
    display:flex;
    flex-direction: column;
    justify-content:space-around
}
.recent-projects .recent-projects-header{
    text-align: center;
}

.recent-projects .recent-projects-header h3{
    letter-spacing: 10px
}
.recent-projects .recent-projects-displays{
    display: flex;
    justify-content:space-around
}

.recent-projects .recent-projects-displays .card{
    width: 250px;
    height: 300px;
    background: #fff;
    border-radius: 30px;
    cursor: pointer;
    transition: all 100ms ease-in;
}
.recent-projects .recent-projects-displays .card:hover{
    transform: translateY(-10px);
    box-shadow: 1px 10px 30px rgba(0, 0, 0, 0.24);
}

.contact{
    background: #f0f0f0;
    height: 80vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding:150px;
}

.contact .contact-form, .contact-text{
    flex: 1
}
.contact .contact-text{
    display: flex;
    justify-content:center;
    align-items: center;
}

.contact input, textarea {
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.24);
    margin-bottom: 20px;
    display:block;
    border: none;
    width: 80%;
    outline:none;
}
.contact button{
    display:block;
    padding: 15px 25px;
    border-radius: 10px;
    background: #700323;
    letter-spacing: 5px;
    border:none;
    color:#f0f0f0;
    width:80%;
    cursor:pointer;
    transition:all 100ms ease-in;
}
.contact button:hover{
    box-shadow: 1px 10px 20px #70032485;
}

@media only screen and (max-width: 768px){
    .header-text{
        padding:20px;
        background:rgba(255, 255, 255, 0.699);
        backdrop-filter: blur(10px);
    }
    .header-text .text{
        width:70%;
    }

    /* Recente */

    .recent-projects{
        height: auto;
        padding: 30px;
        
    }

    .recent-projects .recent-projects-displays{
        display: flex;
        justify-content:space-around;
        flex-wrap: wrap;
    }
    
    .recent-projects .recent-projects-displays .card{
        width: 170px;
        height: 260px;
        margin: 10px
        
    }


.contact{
    flex-wrap: wrap;
    height: auto;
    justify-content:space-around;
    align-items: center;
    padding:50px;
}

.contact .contact-form, .contact-text{
    flex: 1
}
.contact .contact-text{
    display: flex;
    justify-content:center;
    align-items: center;
}
.contact input, textarea {
    width: 100%;
}
.contact button{
    width: 100%;
}
  
}